</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
          <!-- Footer -->
           <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Website quản lý cửa hàng mỹ phẩm</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>



 <script type="text/javascript" src="/js/simple.money.format.js"></script>
<script>
    $(document).ready(() => {
        
        $('#myModal').modal('show');
        $('.delete-product').on('click', (e) => {
            var r = confirm('Bạn có muốn xóa sản phẩm này không ? ');
            if(r){
                const id = e.target.dataset.id;
                $.ajax({
                    type: 'DELETE',
                    url: "/product/delete/" + id,
                    success: function (response) {
                        
                        window.location.reload()
                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }
            
        })

        ///delete user
        $('.delete-user').on('click', (e) => {
            var r = confirm('Bạn có muốn xóa người dùng này không ? ');
            if(r){
                const id = e.target.dataset.id;
                console.log('id',id)
                $.ajax({
                    type: 'DELETE',
                    url: "/user/delete/" + id,
                    success: function (response) {
                        
                        window.location.reload()
                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }
            
        })
        $('.delete-package').on('click', (e) => {
            var r = confirm('Bạn có muốn xóa lô hàng này không ? ');
            if(r){
                const id = e.target.dataset.id;
                console.log('id',id)
                $.ajax({
                    type: 'DELETE',
                    url: "/package/delete/" + id,
                    success: function (response) {
                        
                        window.location.reload()
                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }
            
        })

        $('.delete-customer').on('click', (e) => {
            var r = confirm('Bạn có muốn xóa khách hàng này không ? ');
            if(r){
                const id = e.target.dataset.id;
                console.log('id',id)
                $.ajax({
                    type: 'DELETE',
                    url: "/customer/delete/" + id,
                    success: function (response) {
                        
                        window.location.reload()
                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }
            
        })

        //submit report 
        $('#report-btn').on('click', (e) =>{
            e.preventDefault();
            var dateStart = ($('#date-start').val());
            var dateEnd = ($('#date-end').val());
            if(!dateStart || !dateEnd){
                return alert('Vui lòng chọn ngày')
            }
            let data = {dateStart,dateEnd}
            fetch('/report', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                })
                .then(response => response.json(data))
                .then(result => {
                    //khi trả về data
                    if(result.code ===1){
                        $('#total-price').html(0)
                        $('#table-report').html(result.message).addClass("text text-danger font-weight-bold")
                    }
                    else if(result.code === 2){
                        var revenue = result.revenue;
                        var temp = ""
                        for (let index = 0; index < revenue.length; index++) {
                            const element = revenue[index];
                            let string = `<tr>
                                        <td>${element.transaction_id}</td>
                                        <td>${element.user_id}</td>
                                        <td>${element.product_id}</td>
                                        <td>${element.quantity}</td>
                                        <td class="money">${element.price}</td>
                                        <td>${element.created_at}</td>
                                        </tr>`
                          temp += string;
                            
                        }
                        $('#total-price').html(result.totalAmount).addClass('money');
                        $('#table-report').html(temp)
                        $('.money').simpleMoneyFormat();
                    }
                    
                })
                .catch((error) => {
                    console.error('Error:', error);
            });
        })
        $("#excel-export").on('click',() => {
            var dateStart = ($('#date-start').val());
            var dateEnd = ($('#date-end').val());
            if(!dateStart || !dateEnd){
                return alert('Vui lòng chọn ngày để xuất excel')
            }
            let data = {dateStart,dateEnd}
            fetch('/excel', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                })
                .then(response => response.json(data))
                .then(result => {
                    //khi trả về data
                    if(result.code ===1){
                        alert(result.message)
                    }
                    else if(result.code === 2){
                        alert(`File được lưu tại: ${result.fileView} `)
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
            });
        })
    })
    function addVolume(){

        $('#first-volume .clone-volume').clone().find('input').val("").end().appendTo("#dynamic-volume");
        
    }
    function removeVolume(){
        $('#dynamic-volume .clone-volume').last().remove()
    }
    function addProduct(){

        $('#first-product .clone-product').clone().find('input').val("").end().appendTo("#dynamic-product");
        
    }
    function removeProduct(){
        $('#dynamic-product .clone-product').last().remove()
    }
    $('.money').simpleMoneyFormat();
    //search function
    let tableSearch = $('#result-table')
    function searchResult(str){
            console.log(str)
            if(str.length ===0){
                tableSearch.hide()
            }
            else{
                tableSearch.show()
            }
            $.ajax({
                url: "/product/search",
                contentType: "application/json",
                method:"POST",
                data: JSON.stringify({query:str}),
                success: function(result){
                    result = JSON.parse(result)
                    if(result.code ===0){
                        tableSearch.hide()
                        
                    }
                    else if(result.code ===1){
                        $('#body-table').html("<h3><strong class='text text-danger'> ops Không tìm thấy sản phẩm</strong></h3>")
                    }
                    else if(result.code ===2){
                        var data = result.data;
                        var temp = ""
                        for (let index = 0; index < data.length; index++) {
                            const element = data[index];
                            let string = `<tr>
                            <td><img
                            src="/img/${element.image}"
                            width="50px"
                            height="50px"
                            alt=""
                            /></td>
                            <td>${element.id}</td>
                            <td>${element.name}</td>
                            <td>${element.volume}</td>
                            <td>${element.volume_unit}</td>
                            <td class = "money">${element.price}</td>
                          </tr>`
                          temp += string;
                            
                        }
                        $('#body-table').html(temp)
                        $('.money').simpleMoneyFormat();
                    }
                }
            })
            
        }

   
</script>
</body>

</html>